<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}">
<head>
    <!-- Theme Made By www.w3schools.com - No Copyright -->
    <title>Add Page</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div layout:fragment="custom-content">

    <div class="container">
        <h1>Add User</h1>
        <h2 th:text="${successMsg}"></h2>
        <form th:object="${user}" th:action="@{/user/add}" th:method="post">
            <div class="row">
                <div class="col-md-3">
                    <label for="name">Name</label>
                </div>
                <div class="col-md-9">
                    <input class="form-control" type="text" th:field="*{name}" id="name"/>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <label for="username">Username</label>
                </div>
                <div class="col-md-9">
                    <input class="form-control" type="text" th:field="*{username}" id="username"/>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <label for="password">Password</label>
                </div>
                <div class="col-md-9">
                    <input class="form-control" type="text" th:field="*{password}" id="password"/>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <label>Hobbies</label>
                </div>
                <div class="col-md-9">
                    Reading: <input class="check-box check-menu-item" type="checkbox" th:field="*{hobbies}"
                                    th:value="Reading"/>
                    Playing: <input class="check-box check-menu-item" type="checkbox" th:field="*{hobbies}"
                                    th:value="Playing"/>
                    Writing: <input class="check-box check-menu-item" type="checkbox" th:field="*{hobbies}"
                                    th:value="Writing"/>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <label>Gender</label>
                </div>
                <div class="col-md-9">
                    Male: <input class="radio-button radio-menu-item" type="radio" th:field="*{gender}" value="Male"/>
                    Female: <input class="radio-button radio-menu-item" type="radio" th:field="*{gender}" value="Female"/>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <label>Country</label>
                </div>
                <div class="col-md-9">
                    <select th:field="*{country}">
                        <option value="">Select a Country</option>
                        <option value="BD">Bangladesh</option>
                        <option value="USA">USA</option>
                        <option value="UK">UK</option>
                        <option value="UAE">UAE</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <button type="submit">Save</button>
                </div>
                <div class="col-md-offset-7">

                </div>

            </div>
        </form>
    </div>
</div>
</body>
</html>
