<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout.html}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>CrossFit | Add Daily Workout</title>
</head>
<body>
<!-- body area -->
<div layout:fragment="custom-content" id="wrapper">

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">
            <!-- Begin Page Content -->
            <div class="container-fluid">

                <br/>
                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-4">
                        <h1 class="h3 mb-4 text-gray-800">
                            <span class="icon">
                                <i class="fa fa-plus"></i>
                            </span>
                            Add Workout
                        </h1>
                    </div>
                    <div class="col-lg-4"></div>
                    <div class="col-lg-4">
                        <a th:href="@{/workout-list}" class="btn btn-primary btn-icon-split float-right">
                            <span class="icon text-white-50">
                                <i class="fas fa-th-list"></i>
                            </span>
                            <span class="text">Workout List</span>
                        </a>
                    </div>
                </div>

                <hr/>
                <br/>

                <!-- for adding membershipType type -->
                <form>
                    <div class="row">
                        <div class="col-lg-3">
                            <label class="float-right">Select Member</label>
                        </div>
                        <div class="col-lg-5 input-group">
                            <select class="form-control">
                                <option>Select Member</option>
                                <option>Asaduzzaman Rony</option>
                                <option>Saidur Rahman Sajib</option>
                                <option>Ali Azom Dipu</option>
                                <option>Ridoy Bhuiya</option>
                            </select>
                        </div>
                    </div>
                    <br/>
                    <div class="row">
                        <div class="col-lg-3">
                            <label class="float-right">Description</label>
                        </div>
                        <div class="col-lg-5 input-group">
                            <textarea class="form-control"></textarea>
                        </div>
                    </div>
                    <br/>
                    <div class="row">
                        <div class="col-lg-3">
                            <label class="float-right">Start Date</label>
                        </div>
                        <div class="col-lg-5 input-group">
                            <input class="form-control" type="date"/>
                        </div>
                    </div>
                    <br/>
                    <div class="row">
                        <div class="col-lg-3">
                            <label class="float-right">End Date</label>
                        </div>
                        <div class="col-lg-5 input-group">
                            <input class="form-control" type="date"/>
                        </div>
                    </div>
                    <br/>

                    <div class="row d-flex justify-content-center">
                        <div class="col-lg-10 border">
                            <br/>
                            <div class="row">
                                <div class="col-lg-2">
                                    <h6 style="background: #c9c2c1; text-align: center; color: black; height: 40px; padding-top: 11px">Select
                                        days
                                    </h6>

                                </div>
                                <div class="col-lg-10">
                                    <h6 style="background: #c9c2c1; text-align: center; color: black; height: 40px; padding-top: 11px">
                                        Select Workout Activity to Add On Selected Days
                                    </h6>
                                </div>
                            </div>
                            <div class="row">

                                <!-- Days Starts From Here -->

                                <div class="col-lg-2">

                                    <label for="Saturday" style="font-size: 15px">
                                        <input type="checkbox" id="Saturday"/>
                                        Saturday
                                    </label>
                                    <br/>

                                    <label for="Sunday" style="font-size: 15px">
                                        <input type="checkbox" id="Sunday"/>
                                        Sunday
                                    </label>
                                    <br/>
                                    <label for="Monday" style="font-size: 15px">
                                        <input type="checkbox" id="Monday"/>
                                        Monday
                                    </label>
                                    <br/>
                                    <label for="Tuesday" style="font-size: 15px">
                                        <input type="checkbox" id="Tuesday"/>
                                        Tuesday
                                    </label>
                                    <br/>
                                    <label for="Wednesday" style="font-size: 15px">
                                        <input type="checkbox" id="Wednesday"/>
                                        Wednesday
                                    </label>
                                    <br/>
                                    <label for="Thursday" style="font-size: 15px">
                                        <input type="checkbox" id="Thursday"/>
                                        Thursday
                                    </label>
                                    <br/>
                                    <label for="Friday" style="font-size: 15px">
                                        <input type="checkbox" id="Friday"/>
                                        Friday
                                    </label>
                                </div>

                                <!-- Days Ends Here -->

                                <!-- Workout List Starts Here -->

                                <div class="col-lg-10" th:width="auto" style="height: 500px; overflow: auto">


                                    <div class="row">
                                        <div class="col-lg-2"></div>
                                        <div class="col-lg-2">
                                            <h6 style="color: black"><strong>Activity</strong></h6>
                                        </div>
                                        <div class="col-lg-2 d-flex justify-content-center">
                                            <h6 style="color: black"><strong>Sets</strong></h6>
                                        </div>
                                        <div class="col-lg-2 d-flex justify-content-center">
                                            <h6 style="color: black"><strong>Reps</strong></h6>
                                        </div>
                                        <div class="col-lg-2 d-flex justify-content-center">
                                            <h6 style="color: black"><strong>KG</strong></h6>
                                        </div>
                                        <div class="col-lg-2"></div>
                                    </div>
                                    <hr/>

                                    <!-- Workout Items Starts Here -->

                                    <div class="row">
                                        <div class="col-lg-2"></div>
                                        <div class="col-lg-2">
                                            <label style="font-size: 13px"><strong>Barbell Bench Press</strong></label>
                                        </div>
                                        <div class="col-lg-2 form-group">
                                            <input type="text" class="form-control"/>
                                        </div>
                                        <div class="col-lg-2 form-group">
                                            <input type="text" class="form-control"/>
                                        </div>
                                        <div class="col-lg-2 form-group">
                                            <input type="text" class="form-control"/>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-lg-2"></div>
                                        <div class="col-lg-2">
                                            <label style="font-size: 13px"><strong>Flat Bench Dumbbell
                                                Press</strong></label>
                                        </div>
                                        <div class="col-lg-2 form-group">
                                            <input type="text" class="form-control"/>
                                        </div>
                                        <div class="col-lg-2 form-group">
                                            <input type="text" class="form-control"/>
                                        </div>
                                        <div class="col-lg-2 form-group">
                                            <input type="text" class="form-control"/>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-lg-2"></div>
                                        <div class="col-lg-2">
                                            <label style="font-size: 13px"><strong>Low-Incline Barbell Bench
                                                Press</strong></label>
                                        </div>
                                        <div class="col-lg-2 form-group">
                                            <input type="text" class="form-control"/>
                                        </div>
                                        <div class="col-lg-2 form-group">
                                            <input type="text" class="form-control"/>
                                        </div>
                                        <div class="col-lg-2 form-group">
                                            <input type="text" class="form-control"/>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-lg-2"></div>
                                        <div class="col-lg-2">
                                            <label style="font-size: 13px"><strong>Machine Decline
                                                Press</strong></label>
                                        </div>
                                        <div class="col-lg-2 form-group">
                                            <input type="text" class="form-control"/>
                                        </div>
                                        <div class="col-lg-2 form-group">
                                            <input type="text" class="form-control"/>
                                        </div>
                                        <div class="col-lg-2 form-group">
                                            <input type="text" class="form-control"/>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-lg-2"></div>
                                        <div class="col-lg-2">
                                            <label style="font-size: 13px"><strong>Seated Machine Chest
                                                Press</strong></label>
                                        </div>
                                        <div class="col-lg-2 form-group">
                                            <input type="text" class="form-control"/>
                                        </div>
                                        <div class="col-lg-2 form-group">
                                            <input type="text" class="form-control"/>
                                        </div>
                                        <div class="col-lg-2 form-group">
                                            <input type="text" class="form-control"/>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-lg-2"></div>
                                        <div class="col-lg-2">
                                            <label style="font-size: 13px"><strong>Incline Dumbbell
                                                Press</strong></label>
                                        </div>
                                        <div class="col-lg-2 form-group">
                                            <input type="text" class="form-control"/>
                                        </div>
                                        <div class="col-lg-2 form-group">
                                            <input type="text" class="form-control"/>
                                        </div>
                                        <div class="col-lg-2 form-group">
                                            <input type="text" class="form-control"/>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-lg-2"></div>
                                        <div class="col-lg-2">
                                            <label style="font-size: 13px"><strong>Dips For Chest</strong></label>
                                        </div>
                                        <div class="col-lg-2 form-group">
                                            <input type="text" class="form-control"/>
                                        </div>
                                        <div class="col-lg-2 form-group">
                                            <input type="text" class="form-control"/>
                                        </div>
                                        <div class="col-lg-2 form-group">
                                            <input type="text" class="form-control"/>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-lg-2"></div>
                                        <div class="col-lg-2">
                                            <label style="font-size: 13px"><strong>Incline Bench Cable
                                                Fly</strong></label>
                                        </div>
                                        <div class="col-lg-2 form-group">
                                            <input type="text" class="form-control"/>
                                        </div>
                                        <div class="col-lg-2 form-group">
                                            <input type="text" class="form-control"/>
                                        </div>
                                        <div class="col-lg-2 form-group">
                                            <input type="text" class="form-control"/>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-lg-2"></div>
                                        <div class="col-lg-2">
                                            <label style="font-size: 13px"><strong>Incline Dumbbell
                                                Pull-Over</strong></label>
                                        </div>
                                        <div class="col-lg-2 form-group">
                                            <input type="text" class="form-control"/>
                                        </div>
                                        <div class="col-lg-2 form-group">
                                            <input type="text" class="form-control"/>
                                        </div>
                                        <div class="col-lg-2 form-group">
                                            <input type="text" class="form-control"/>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-lg-2"></div>
                                        <div class="col-lg-2">
                                            <label style="font-size: 13px"><strong>Pec-Deck Machine</strong></label>
                                        </div>
                                        <div class="col-lg-2 form-group">
                                            <input type="text" class="form-control"/>
                                        </div>
                                        <div class="col-lg-2 form-group">
                                            <input type="text" class="form-control"/>
                                        </div>
                                        <div class="col-lg-2 form-group">
                                            <input type="text" class="form-control"/>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-lg-2"></div>
                                        <div class="col-lg-2">
                                            <label style="font-size: 13px"><strong>Band Bent-Over Row</strong></label>
                                        </div>
                                        <div class="col-lg-2 form-group">
                                            <input type="text" class="form-control"/>
                                        </div>
                                        <div class="col-lg-2 form-group">
                                            <input type="text" class="form-control"/>
                                        </div>
                                        <div class="col-lg-2 form-group">
                                            <input type="text" class="form-control"/>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-lg-2"></div>
                                        <div class="col-lg-2">
                                            <label style="font-size: 13px"><strong>Renegade Row</strong></label>
                                        </div>
                                        <div class="col-lg-2 form-group">
                                            <input type="text" class="form-control"/>
                                        </div>
                                        <div class="col-lg-2 form-group">
                                            <input type="text" class="form-control"/>
                                        </div>
                                        <div class="col-lg-2 form-group">
                                            <input type="text" class="form-control"/>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-lg-2"></div>
                                        <div class="col-lg-2">
                                            <label style="font-size: 13px"><strong>Dumbbell Single Arm
                                                Row</strong></label>
                                        </div>
                                        <div class="col-lg-2 form-group">
                                            <input type="text" class="form-control"/>
                                        </div>
                                        <div class="col-lg-2 form-group">
                                            <input type="text" class="form-control"/>
                                        </div>
                                        <div class="col-lg-2 form-group">
                                            <input type="text" class="form-control"/>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-lg-2"></div>
                                        <div class="col-lg-2">
                                            <label style="font-size: 13px"><strong>Chest-Supported Dumbbell Row</strong></label>
                                        </div>
                                        <div class="col-lg-2 form-group">
                                            <input type="text" class="form-control"/>
                                        </div>
                                        <div class="col-lg-2 form-group">
                                            <input type="text" class="form-control"/>
                                        </div>
                                        <div class="col-lg-2 form-group">
                                            <input type="text" class="form-control"/>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-lg-2"></div>
                                        <div class="col-lg-2">
                                            <label style="font-size: 13px"><strong>Inverted Row</strong></label>
                                        </div>
                                        <div class="col-lg-2 form-group">
                                            <input type="text" class="form-control"/>
                                        </div>
                                        <div class="col-lg-2 form-group">
                                            <input type="text" class="form-control"/>
                                        </div>
                                        <div class="col-lg-2 form-group">
                                            <input type="text" class="form-control"/>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-lg-2"></div>
                                        <div class="col-lg-2">
                                            <label style="font-size: 13px"><strong>Bent-Over Dumbbell Alternating
                                                Row</strong></label>
                                        </div>
                                        <div class="col-lg-2 form-group">
                                            <input type="text" class="form-control"/>
                                        </div>
                                        <div class="col-lg-2 form-group">
                                            <input type="text" class="form-control"/>
                                        </div>
                                        <div class="col-lg-2 form-group">
                                            <input type="text" class="form-control"/>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-lg-2"></div>
                                        <div class="col-lg-2">
                                            <label style="font-size: 13px"><strong>Bent-Over Barbell
                                                Rows</strong></label>
                                        </div>
                                        <div class="col-lg-2 form-group">
                                            <input type="text" class="form-control"/>
                                        </div>
                                        <div class="col-lg-2 form-group">
                                            <input type="text" class="form-control"/>
                                        </div>
                                        <div class="col-lg-2 form-group">
                                            <input type="text" class="form-control"/>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-lg-2"></div>
                                        <div class="col-lg-2">
                                            <label style="font-size: 13px"><strong>Bent-Over Underhand Barbell
                                                Row</strong></label>
                                        </div>
                                        <div class="col-lg-2 form-group">
                                            <input type="text" class="form-control"/>
                                        </div>
                                        <div class="col-lg-2 form-group">
                                            <input type="text" class="form-control"/>
                                        </div>
                                        <div class="col-lg-2 form-group">
                                            <input type="text" class="form-control"/>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-lg-2"></div>
                                        <div class="col-lg-2">
                                            <label style="font-size: 13px"><strong>Seated Cable Row w/
                                                Pause</strong></label>
                                        </div>
                                        <div class="col-lg-2 form-group">
                                            <input type="text" class="form-control"/>
                                        </div>
                                        <div class="col-lg-2 form-group">
                                            <input type="text" class="form-control"/>
                                        </div>
                                        <div class="col-lg-2 form-group">
                                            <input type="text" class="form-control"/>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-lg-2"></div>
                                        <div class="col-lg-2">
                                            <label style="font-size: 13px"><strong>Pullup or Chinup Variations</strong></label>
                                        </div>
                                        <div class="col-lg-2 form-group">
                                            <input type="text" class="form-control"/>
                                        </div>
                                        <div class="col-lg-2 form-group">
                                            <input type="text" class="form-control"/>
                                        </div>
                                        <div class="col-lg-2 form-group">
                                            <input type="text" class="form-control"/>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-lg-2"></div>
                                        <div class="col-lg-2">
                                            <label style="font-size: 13px"><strong>Lat Pulldown</strong></label>
                                        </div>
                                        <div class="col-lg-2 form-group">
                                            <input type="text" class="form-control"/>
                                        </div>
                                        <div class="col-lg-2 form-group">
                                            <input type="text" class="form-control"/>
                                        </div>
                                        <div class="col-lg-2 form-group">
                                            <input type="text" class="form-control"/>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-lg-2"></div>
                                        <div class="col-lg-2">
                                            <label style="font-size: 13px"><strong>Kneeling Lat
                                                Pulldown</strong></label>
                                        </div>
                                        <div class="col-lg-2 form-group">
                                            <input type="text" class="form-control"/>
                                        </div>
                                        <div class="col-lg-2 form-group">
                                            <input type="text" class="form-control"/>
                                        </div>
                                        <div class="col-lg-2 form-group">
                                            <input type="text" class="form-control"/>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-lg-2"></div>
                                        <div class="col-lg-2">
                                            <label style="font-size: 13px"><strong>Deadlift</strong></label>
                                        </div>
                                        <div class="col-lg-2 form-group">
                                            <input type="text" class="form-control"/>
                                        </div>
                                        <div class="col-lg-2 form-group">
                                            <input type="text" class="form-control"/>
                                        </div>
                                        <div class="col-lg-2 form-group">
                                            <input type="text" class="form-control"/>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-lg-2"></div>
                                        <div class="col-lg-2">
                                            <label style="font-size: 13px"><strong>Kettlebell Swings</strong></label>
                                        </div>
                                        <div class="col-lg-2 form-group">
                                            <input type="text" class="form-control"/>
                                        </div>
                                        <div class="col-lg-2 form-group">
                                            <input type="text" class="form-control"/>
                                        </div>
                                        <div class="col-lg-2 form-group">
                                            <input type="text" class="form-control"/>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-lg-2"></div>
                                        <div class="col-lg-2">
                                            <label style="font-size: 13px"><strong>Front Squat</strong></label>
                                        </div>
                                        <div class="col-lg-2 form-group">
                                            <input type="text" class="form-control"/>
                                        </div>
                                        <div class="col-lg-2 form-group">
                                            <input type="text" class="form-control"/>
                                        </div>
                                        <div class="col-lg-2 form-group">
                                            <input type="text" class="form-control"/>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-lg-2"></div>
                                        <div class="col-lg-2">
                                            <label style="font-size: 13px"><strong>Barbell Squat</strong></label>
                                        </div>
                                        <div class="col-lg-2 form-group">
                                            <input type="text" class="form-control"/>
                                        </div>
                                        <div class="col-lg-2 form-group">
                                            <input type="text" class="form-control"/>
                                        </div>
                                        <div class="col-lg-2 form-group">
                                            <input type="text" class="form-control"/>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-lg-2"></div>
                                        <div class="col-lg-2">
                                            <label style="font-size: 13px"><strong>Dumbbell Lunges</strong></label>
                                        </div>
                                        <div class="col-lg-2 form-group">
                                            <input type="text" class="form-control"/>
                                        </div>
                                        <div class="col-lg-2 form-group">
                                            <input type="text" class="form-control"/>
                                        </div>
                                        <div class="col-lg-2 form-group">
                                            <input type="text" class="form-control"/>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-lg-2"></div>
                                        <div class="col-lg-2">
                                            <label style="font-size: 13px"><strong>Leg Press</strong></label>
                                        </div>
                                        <div class="col-lg-2 form-group">
                                            <input type="text" class="form-control"/>
                                        </div>
                                        <div class="col-lg-2 form-group">
                                            <input type="text" class="form-control"/>
                                        </div>
                                        <div class="col-lg-2 form-group">
                                            <input type="text" class="form-control"/>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-lg-2"></div>
                                        <div class="col-lg-2">
                                            <label style="font-size: 13px"><strong>Lying Leg Curls</strong></label>
                                        </div>
                                        <div class="col-lg-2 form-group">
                                            <input type="text" class="form-control"/>
                                        </div>
                                        <div class="col-lg-2 form-group">
                                            <input type="text" class="form-control"/>
                                        </div>
                                        <div class="col-lg-2 form-group">
                                            <input type="text" class="form-control"/>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-lg-2"></div>
                                        <div class="col-lg-2">
                                            <label style="font-size: 13px"><strong>Leg Extensions</strong></label>
                                        </div>
                                        <div class="col-lg-2 form-group">
                                            <input type="text" class="form-control"/>
                                        </div>
                                        <div class="col-lg-2 form-group">
                                            <input type="text" class="form-control"/>
                                        </div>
                                        <div class="col-lg-2 form-group">
                                            <input type="text" class="form-control"/>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-lg-2"></div>
                                        <div class="col-lg-2">
                                            <label style="font-size: 13px"><strong>Standing Calf Raises</strong></label>
                                        </div>
                                        <div class="col-lg-2 form-group">
                                            <input type="text" class="form-control"/>
                                        </div>
                                        <div class="col-lg-2 form-group">
                                            <input type="text" class="form-control"/>
                                        </div>
                                        <div class="col-lg-2 form-group">
                                            <input type="text" class="form-control"/>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-lg-2"></div>
                                        <div class="col-lg-2">
                                            <label style="font-size: 13px"><strong>Overhead press</strong></label>
                                        </div>
                                        <div class="col-lg-2 form-group">
                                            <input type="text" class="form-control"/>
                                        </div>
                                        <div class="col-lg-2 form-group">
                                            <input type="text" class="form-control"/>
                                        </div>
                                        <div class="col-lg-2 form-group">
                                            <input type="text" class="form-control"/>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-lg-2"></div>
                                        <div class="col-lg-2">
                                            <label style="font-size: 13px"><strong>Push press</strong></label>
                                        </div>
                                        <div class="col-lg-2 form-group">
                                            <input type="text" class="form-control"/>
                                        </div>
                                        <div class="col-lg-2 form-group">
                                            <input type="text" class="form-control"/>
                                        </div>
                                        <div class="col-lg-2 form-group">
                                            <input type="text" class="form-control"/>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-lg-2"></div>
                                        <div class="col-lg-2">
                                            <label style="font-size: 13px"><strong>Barbell Shrug</strong></label>
                                        </div>
                                        <div class="col-lg-2 form-group">
                                            <input type="text" class="form-control"/>
                                        </div>
                                        <div class="col-lg-2 form-group">
                                            <input type="text" class="form-control"/>
                                        </div>
                                        <div class="col-lg-2 form-group">
                                            <input type="text" class="form-control"/>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-lg-2"></div>
                                        <div class="col-lg-2">
                                            <label style="font-size: 13px"><strong>Seated Arnold Press</strong></label>
                                        </div>
                                        <div class="col-lg-2 form-group">
                                            <input type="text" class="form-control"/>
                                        </div>
                                        <div class="col-lg-2 form-group">
                                            <input type="text" class="form-control"/>
                                        </div>
                                        <div class="col-lg-2 form-group">
                                            <input type="text" class="form-control"/>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-lg-2"></div>
                                        <div class="col-lg-2">
                                            <label style="font-size: 13px"><strong>Seated Lateral Raise</strong></label>
                                        </div>
                                        <div class="col-lg-2 form-group">
                                            <input type="text" class="form-control"/>
                                        </div>
                                        <div class="col-lg-2 form-group">
                                            <input type="text" class="form-control"/>
                                        </div>
                                        <div class="col-lg-2 form-group">
                                            <input type="text" class="form-control"/>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-lg-2"></div>
                                        <div class="col-lg-2">
                                            <label style="font-size: 13px"><strong>Bent-Over Reverse
                                                Flye</strong></label>
                                        </div>
                                        <div class="col-lg-2 form-group">
                                            <input type="text" class="form-control"/>
                                        </div>
                                        <div class="col-lg-2 form-group">
                                            <input type="text" class="form-control"/>
                                        </div>
                                        <div class="col-lg-2 form-group">
                                            <input type="text" class="form-control"/>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-lg-2"></div>
                                        <div class="col-lg-2">
                                            <label style="font-size: 13px"><strong>Sit-Ups</strong></label>
                                        </div>
                                        <div class="col-lg-2 form-group">
                                            <input type="text" class="form-control"/>
                                        </div>
                                        <div class="col-lg-2 form-group">
                                            <input type="text" class="form-control"/>
                                        </div>
                                        <div class="col-lg-2 form-group">
                                            <input type="text" class="form-control"/>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-lg-2"></div>
                                        <div class="col-lg-2">
                                            <label style="font-size: 13px"><strong>Flat Bench Lying Leg
                                                Raise</strong></label>
                                        </div>
                                        <div class="col-lg-2 form-group">
                                            <input type="text" class="form-control"/>
                                        </div>
                                        <div class="col-lg-2 form-group">
                                            <input type="text" class="form-control"/>
                                        </div>
                                        <div class="col-lg-2 form-group">
                                            <input type="text" class="form-control"/>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-lg-2"></div>
                                        <div class="col-lg-2">
                                            <label style="font-size: 13px"><strong>Jackknife Sit-Ups</strong></label>
                                        </div>
                                        <div class="col-lg-2 form-group">
                                            <input type="text" class="form-control"/>
                                        </div>
                                        <div class="col-lg-2 form-group">
                                            <input type="text" class="form-control"/>
                                        </div>
                                        <div class="col-lg-2 form-group">
                                            <input type="text" class="form-control"/>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-lg-2"></div>
                                        <div class="col-lg-2">
                                            <label style="font-size: 13px"><strong>Flat Bench Leg
                                                Pull-In</strong></label>
                                        </div>
                                        <div class="col-lg-2 form-group">
                                            <input type="text" class="form-control"/>
                                        </div>
                                        <div class="col-lg-2 form-group">
                                            <input type="text" class="form-control"/>
                                        </div>
                                        <div class="col-lg-2 form-group">
                                            <input type="text" class="form-control"/>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-lg-2"></div>
                                        <div class="col-lg-2">
                                            <label style="font-size: 13px"><strong>Toe Touchers</strong></label>
                                        </div>
                                        <div class="col-lg-2 form-group">
                                            <input type="text" class="form-control"/>
                                        </div>
                                        <div class="col-lg-2 form-group">
                                            <input type="text" class="form-control"/>
                                        </div>
                                        <div class="col-lg-2 form-group">
                                            <input type="text" class="form-control"/>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-lg-2"></div>
                                        <div class="col-lg-2">
                                            <label style="font-size: 13px"><strong>Crunches</strong></label>
                                        </div>
                                        <div class="col-lg-2 form-group">
                                            <input type="text" class="form-control"/>
                                        </div>
                                        <div class="col-lg-2 form-group">
                                            <input type="text" class="form-control"/>
                                        </div>
                                        <div class="col-lg-2 form-group">
                                            <input type="text" class="form-control"/>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-lg-2"></div>
                                        <div class="col-lg-2">
                                            <label style="font-size: 13px"><strong>Reverse Crunch</strong></label>
                                        </div>
                                        <div class="col-lg-2 form-group">
                                            <input type="text" class="form-control"/>
                                        </div>
                                        <div class="col-lg-2 form-group">
                                            <input type="text" class="form-control"/>
                                        </div>
                                        <div class="col-lg-2 form-group">
                                            <input type="text" class="form-control"/>
                                        </div>
                                    </div>

                                </div>

                                <!-- Workout List Ends Here -->

                            </div>
                        </div>
                    </div>
                    <br/>


                    <div class="row">
                        <div class="col-md-7">
                            <button class="btn btn-primary float-right">
                                <span class="icon text-white-50">
                                    <i class="fa fa-plus"></i>
                                </span>
                                Save
                            </button>
                        </div>
                    </div>
                    <br/>
                </form>


            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

</div>
</body>
</html>