<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!-- Navigation -->
<section th:fragment="headArea" id="navigation" class="dark-nav">
    <!-- Navigation Inner -->
    <div class="nav-inner">
        <!-- Site Logo -->
        <div class="site-logo fancy">
            <a href="#" id="logo-text" class="scroll logo">Fitness
            </a>
        </div><!-- End Site Logo -->
        <a class="mini-nav-button gray2"><i class="fa fa-bars"></i></a>
        <!-- Navigation Menu -->
        <div class="nav-menu">
            <ul class="nav uppercase">
                <li><a href="#home" class="scroll">Home</a></li>
                <li><a href="#about" class="scroll">About us</a></li>
                <li><a href="#features" class="scroll">Features</a></li>
                <li><a href="#clients" class="scroll">Gymnasts</a></li>
                <li><a href="#testimonial" class="scroll">Testimonial</a></li>
                <li><a href="#contact" class="scroll">Contact</a></li>
                <li><a href="#Login" class="scroll">Login</a></li>
            </ul>
        </div><!-- End Navigation Menu -->
    </div><!-- End Navigation Inner -->
</section><!-- End Navigation Section -->
</body>
</html>