<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout.html}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>CrossFit | Membership List</title>
</head>
<body>
<!-- body area -->
<div layout:fragment="custom-content" id="wrapper">

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">
            <!-- Begin Page Content -->
            <div class="container-fluid">
                <br/>
                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-4">
                        <h1 class="h3 mb-4 text-gray-800">
                            <span class="icon">
                                <i class="fa fa-th-list"></i>
                            </span>
                            Membership List
                        </h1>
                    </div>
                    <div class="col-lg-4"></div>
                    <div class="col-lg-4">
                        <a th:href="@{membership-add}" class="btn btn-primary btn-icon-split float-right">
                            <span class="icon text-white-50">
                                <i class="fas fa-users"></i>
                            </span>
                            <span class="text">Add Membership</span>
                        </a>
                    </div>
                </div>

                <hr/>

                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                            <tr>
                                <th>Membership Name</th>
                                <th>Membership Period</th>
                                <th>Total Amount</th>
                                <th>Register Fee</th>
                                <th>Action</th>
                            </tr>
                            </thead>
                            <tfoot>
                            <tr>
                                <th>Membership Name</th>
                                <th>Membership Period</th>
                                <td>Total Amount</td>
                                <th>Register Fee</th>
                                <th>Action</th>
                            </tr>
                            </tfoot>
                            <tbody>
                            <tr th:each="mlist : ${membershipList}">
                                <td th:text="*{mlist.membershipName}"></td>
                                <td th:text="*{mlist.membershipDays}"></td>
                                <td th:text="*{mlist.membershipAmount}"></td>
                                <td th:text="*{mlist.regFee}"></td>
                                <td>
                                    <a th:href="@{#}">
                                        <span class="icon text-info">
                                            <i class="fa fa-edit"></i>
                                        </span>
                                    </a>
                                    <span></span>
                                    <a th:href="@{#}">
                                        <span class="icon text-danger">
                                            <i class="fa fa-trash-alt"></i>
                                        </span>
                                    </a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

</body>
</html>