<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Student Page</title>
</head>
<body>
<h1>Add Department</h1>
<span style="color: red;" th:text="${errMsg}"></span>
<span style="color: limegreen;" th:text="${successMsg}"></span>
<form th:object="${student}" th:action="@{/student}" th:method="POST">
    <input type="text" th:field="*{name}"/>
    <input type="number" th:field="*{age}"/>
    <input type="email" th:field="*{email}"/>
    <input type="radio" value="Male" th:field="*{gender}"/>Male
    <input type="radio" value="Female" th:field="*{gender}"/>Female
    <select th:field="*{department}">
        <option th:each="dep : ${depList}" th:value="${dep.id}"><span th:text="${dep.name}"></span></option>
    </select>
    <button type="submit">Save</button>
</form>

<hr/>

<h1>Student List</h1>
<table>
    <tr>
        <th>Id</th>
        <th>Student Name</th>
        <th>Age</th>
        <th>Student Email</th>
        <th>Gender</th>
        <th>Department Name</th>
    </tr>
    <tr th:each="stu : ${stuList}">
        <td th:text="${stu.id}"></td>
        <td th:text="${stu.name}"></td>
        <td th:text="${stu.age}"></td>
        <td th:text="${stu.email}"></td>
        <td th:text="${stu.gender}"></td>
        <td th:text="${stu.department.name}"></td>
    </tr>
</table>
</body>
</html>