<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout.html}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>CrossFit | Member List</title>
</head>
<body>

<!-- body area -->
<div layout:fragment="custom-content" id="wrapper">

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">
            <!-- Begin Page Content -->
            <div class="container-fluid">
                <br/>
                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-4">
                        <h1 class="h3 mb-4 text-gray-800">
                            <span class="icon">
                                <i class="fa fa-th-list"></i>
                            </span>
                            Members List
                        </h1>
                    </div>
                    <div class="col-lg-4"></div>
                    <div class="col-lg-4">
                        <a th:href="@{/add-member}" class="btn btn-primary btn-icon-split float-right">
                            <span class="icon text-white-50">
                                <i class="fas fa-user-plus"></i>
                            </span>
                            <span class="text">Add Member</span>
                        </a>
                    </div>
                </div>

                <hr/>

                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                            <tr>
                                <th>Photo</th>
                                <th>Member Name</th>
                                <th>Joining Date</th>
                                <th>Expire Date</th>
                                <th>Member Type</th>
                                <th>Membership Status</th>
                                <th>Action</th>
                            </tr>
                            </thead>
                            <tfoot>
                            <tr>
                                <th>Photo</th>
                                <th>Member Name</th>
                                <th>Mobile No</th>
                                <th>Joining Date</th>
                                <th>Expire Date</th>
                                <th>Member Type</th>
                                <th>Action</th>
                            </tr>
                            </tfoot>
                            <tbody>
                            <tr th:each="mList : ${list}">
                                <td><img th:src="@{${mList.getFilePath()}}" width="40px" height="40px"/> </td>
                                <td th:text="${mList.mName}"></td>
                                <td th:text="${mList.mMobileNo}"></td>
                                <td th:text="${mList.mStartDate}"></td>
                                <td th:text="${mList.mEndDate}"></td>
                                <td th:text="${mList.mType}"></td>
                                <td>
                                    <a th:href="@{/member-profile}">
                                        <span class="icon text-primary">
                                            <i class="fa fa-eye"></i>
                                        </span>
                                    </a>
                                    <span></span>
                                    <a th:href="@{'/edit-member/' + ${mList.id}}">
                                        <span class="icon text-info">
                                            <i class="fa fa-edit"></i>
                                        </span>
                                    </a>
                                    <span></span>
                                    <a th:href="@{#}">
                                        <span class="icon text-danger">
                                            <i class="fa fa-trash-alt"></i>
                                        </span>
                                    </a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->
</body>
</html>